* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/wormz.png");
}

header {
    text-align: center;
}

h1 {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    font-size: 50px;
    margin: 15px 0;
}

.gameBody {
    width: 65%;
    height: 500px;
    margin: auto;
    padding: 50px;
    background-color: #f2f2f2;
    border: 1.5px solid black;
    
}

#playBtn {
    height: 100px;
    width: 500px;
    margin: auto;
    margin-top: 125px;
    display: block;
    background-color: #ffff80;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    border-color: #1a1a00;
}

#playBtn:hover {
    background-color: #cccc00;   
}

#playBtn:active {
    background-color: #999900;
}