* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/wormz.png");
}

header {
    text-align: center;
}

h1 {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    font-size: 50px;
    margin: 15px 0;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    width: 100px;
    margin: auto;
}

.gameBody {
    width: 65%;
    height: fit-content;
    margin: auto;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #f2f2f2;
    border: 1.5px solid black;
    align-content: center;
    
}

.timer {
    position: fixed;
}

.results {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    width: auto;
    margin: auto;
    text-align: center;
}

form {
    margin-top: 25px;
}

input, label {
    margin-right: 20px;
}

.question {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin: auto;
    margin-top: 75px;
    text-align: center;
}


#playBtn, #submitBtn, #resetBtn {
    height: 100px;
    width: 500px;
    margin: auto;
    /* margin-top: 125px; */
    display: block;
    background-color: #ffff80;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    border-color: #1a1a00;
    cursor: pointer;
}

#submitBtn, #resetBtn {
    margin-top: 75px;
}


#playBtn:hover, #submitBtn:hover, #resetBtn:hover {
    background-color: #cccc00;   
}

#playBtn:active, #submitBtn:active, #resetBtn:active {
    background-color: #999900;
}
